@media only screen and (max-width: 1024px) {
    #content {
        padding-top: 5%;
        height: 90%;
    }
    img {
        vertical-align: middle;
    }
    #header-left {
        float: left;
        width: 28%;
    }
    #header_right {
        float: left;
        width: 72%;
        text-align: center;
    }
    #anhdep {
        text-align: right;
        width: 90%;
        float: right;
    }
    h1 {
        font-size: 130%;
    }
    h2 {
        font-size: 110%;
    }
    h3 {
        font-size: 90%;
    }
    p,
    li {
        font-size: 80%;
    }
    .coppy {
        float: right;
        font-size: 50%;
    }
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
        padding: 1%;
    }
}