@media only screen and (max-width: 1440px) {
    #content {
        padding-top: 5%;
        padding-bottom: 10%;
        padding-right: 5%;
        padding-left: 5%;
        margin-top: 20%;
        margin-bottom: 0%;
        margin-left: 20%;
        height: 80%;
        width: 90%;
    }
    img {
        vertical-align: middle;
    }
    #header-left {
        float: left;
        width: 28%;
    }
    #header_right {
        float: left;
        width: 72%;
        text-align: center;
    }
    #anhdep {
        text-align: right;
        width: auto;
        float: right;
    }
    h1 {
        font-size: 230%;
    }
    h2 {
        font-size: 200%;
    }
    h3 {
        font-size: 150%;
    }
    p,
    li {
        font-size: 100%;
    }
    .coppy {
        float: right;
        font-size: 100%;
    }
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
        padding: 1%;
    }
}