@media only screen and (max-width: 1440px) {
    #content {
        background-color: white;
        border: 1px solid black;
        border-radius: 25px;
        padding-top: 1%;
    }
    img {
        vertical-align: middle;
    }
    #header-left {
        float: left;
        width: 28%;
    }
    #header_right {
        float: left;
        width: 72%;
        text-align: center;
    }
    #anhdep {
        text-align: right;
        width: auto;
        float: right;
    }
    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 170%;
    }
    h3 {
        font-size: 130%;
    }
    p,
    li {
        font-size: 100%;
    }
    .coppy {
        float: right;
        font-size: 100%;
    }
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
        padding: 1%;
    }
    /* About */
    #information1 {
        padding: 5%;
        width: 50%;
        text-align: center;
        float: left;
    }
    #information2 {
        width: 50%;
        float: right;
        padding: 5%;
    }
}