    @media only screen and (max-width: 425px) {
        #anhdep {
            display: none;
        }
        #header_right {
            width: 100%;
            text-align: center;
        }
        .slide-menu li a {
            padding: 10px 5px;
        }
        .slideshow-container {
            display: none;
        }
        .animation1 {
            display: none;
        }
        #information1 {
            width: 100%;
        }
        #information2 {
            width: 100%;
        }
        .coppy {
            font-size: 10px;
        }
    }