@media only screen and (max-width: 768px) {
    #content {
        height: 90%;
    }
    #anhdep {
        display: none;
    }
    #header_right {
        width: 100%;
    }
    .coppy {
        font-size: 10px;
    }
}