html {
    /* background: #A9F5F2; */
    background-image: linear-gradient(0deg, #A9F5F2, #F7F2E0);
    display: flex;
    flex-wrap: nowrap;
    position: static;
    width: auto;
    height: 100%;
}

#content {
    /* position: fixed; */
    /* margin: 0% 25% 0% 25%; */
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}


/* .header {
    position: fixed;
} */

#header-left {
    float: left;
    width: 28%;
}

#header_right {
    float: left;
    width: 72%;
    text-align: center;
}

#anhdep {
    text-align: right;
    width: 50%;
    float: right;
}

.body {
    padding-top: 0px;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 130%;
}

h3 {
    font-size: 110%;
}

p,
li {
    font-size: 90%;
}

.coppy {
    float: right;
    font-size: 70%;
}


/* menu */

.slide-menu {
    list-style-type: none;
    overflow: hidden;
    /* background-color: wheat; */
}

.slide-menu li {
    float: right;
}

.slide-menu li a {
    display: block;
    color: red;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.slide-menu li a:hover {
    background-color: rgb(112, 166, 216);
}


/* Show automation slide */

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    padding: 0%;
}

.text {
    color: #ec1010;
    font-size: 200%;
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 10s;
    animation-name: fade;
    animation-duration: 10s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.animation1 {
    width: 100%;
    height: 2px;
    background: orangered;
    animation: mymove 4s infinite;
}

@keyframes mymove {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}


/* Contact */

body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 1%;
    margin-bottom: 1%;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20%;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1%;
    width: 100%;
    margin-right: 20%;
}


/* About */

#information1 {
    padding: 5%;
    width: 50%;
    text-align: center;
    float: left;
}

#information2 {
    width: 50%;
    float: right;
    padding: 5%;
}